:root{
    --negro:#000000;
    --blanco: #FBFBFE;
    --gris:#c5c5c5;
    --rojo:red;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("../../Assets/imagenes/gymfondo.jpg");
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: white;
}
    main{
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-x: hidden;
        width: 100vw;
        min-height: 100vh;
        height: auto;
        border: none;
        margin: 0;
    }
        section{
            backdrop-filter: blur(15px);
            background-color: rgba(0,0,0,0.5);
            width: 1200px;
            display: flex;
            flex-direction: column;
            margin-bottom: 200px;
            padding-top: 100px;
        }
            .divUp{
                width: 1180px;
                display: flex;
                align-items: center;
            }
                .divUp div{
                    width: 50%;
                }
                .divUp-divLeft{
                    height: 100%;
                }
                .divUp-divLeft img{
                    margin-left: 100px;
                }
                .divUp-divRight{
                    display: flex;
                    flex-direction: column;
                    align-content: space-evenly;
                    padding: 20px;
                    padding-top: 0px;
                }
    
.tituloPagina{
    border-bottom: #000000 1px solid;
}

.a{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-bottom: 5%;
    color: black;
    padding: 4px;
    border-radius: 8px;

    background-image: linear-gradient(
        150deg,
        rgba(223, 84, 71, 0.7),
        rgba(221, 109, 99, 0.7),
        rgba(211, 150, 144, 0.7)
    );

    cursor: pointer;
    transition: .15s;
}
.ap{
    padding: 5px;
    margin: 0px;
    border-radius: 6px;
    transition: .3s;
}
.a:hover{
    padding: 6px;
}
.a:active{
    transform: scale(0.9);
}
.liA{
    margin-bottom: 12px;
}

form button{
    width: 80px;
    height: 25px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    transition: .3s;
    margin-left: 10px;
}
form button:hover{
    background-color: rgb(189, 218, 230);
}
form button:active{
    transform: scale(0.9);
}

#toggleFormBtn{
    height: 30px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    transition: .3s;
    width: 150px;
    margin:20px;
}
#toggleFormBtn:hover{
    background-color: rgb(189, 218, 230);
}
#toggleFormBtn:active{
    transform: scale(0.9);
}
#toggleFormBtn h3{
    margin: 0;
}