:root{
    --negro:#000000;
    --blanco: #FBFBFE;
    --a: rgb(68, 68, 68);
    --b:
}
body{
    margin: 0px;
    overflow-x: hidden;
    background-image: url("../../Assets/imagenes/gymfondo.jpg");
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}
section{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.divInicio{
    width: 1200px;
    min-height: 700px;
    backdrop-filter: blur(15px);
}
.inicio-divRight-sectionUp-SliderDiv{
    width: 60%;
    height: 65%;
    margin: 4% auto 0;
    overflow: hidden;
    padding-top: 50px;
}
    .inicio-divRight-sectionUp-SliderDiv ul{
        display: flex;
        padding: 0;
        width: 400%;
        animation: slide 20s infinite;
    }
    @keyframes slide{
        0%{margin-left: 0%;}
        20%{margin-left: 0%;}
        25%{margin-left: -100%;}
        45%{margin-left: -100%;}
        50%{margin-left: -200%;}
        70%{margin-left: -200%;}
        75%{margin-left: -300%;}
        95%{margin-left: -300%;}
    }
    .inicio-divRight-sectionUp-SliderDiv li{
        list-style: none;
        width: 100%;
    }
    .inicio-divRight-sectionUp-SliderDiv img{
        width: 100%;
    }
.InicioDown{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 30px;
}
.div2{
    padding-left: 10%;
    width: 80%;
}
.Nuestrosh1{
    border-bottom: red 1px solid;
    width: 400px;
    font-size: 40px;
}

summary{
    cursor: pointer;
}

.detailsP{
    font-weight: lighter;
    font-size: 10px;
}

.div2 summary{
    font-size: 20px;
    padding-top: 20px;
}
.div3{
    padding-left: 10%;
    margin-bottom: 20px;
}
article{
    display: flex;
    margin-top: 20px;
}
.p1{
    padding-left: 20px;
    font-size: 30px;
}
footer{
    padding-left: 10px;
    display: flex;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,0.5);
}
footer h2{
    color: white;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 100;
}
