:root{
    --negro:#000000;
    --blanco: #FBFBFE;
    --gris:#c5c5c5;
    --rojo:red;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.sectionE{
    background-color: var(--negro);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    border: none;
    margin: 0;
}
section{
    background-color: var(--gris);
    border: var(--rojo) 1px solid;

    margin-top: 10vh;
    width: 35vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}
form{
    border-bottom: var(--negro) 1px solid;
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
}
img{
    margin-left: 5%;
}
.h2titulo{
    background-color: var(--gris);
}
label{
    border-top: var(--rojo) 1px solid;
    padding-top: 20px;
    align-self: center;
    background-color: var(--verde);
}
input{
    width: 40%;
}
button{
    margin: 20px;
}
a{
    margin-bottom: 5%;
}